@page {
    size: 310mm 397mm;
    color: white;

    @top-center {
        margin-top: 0px;
        vertical-align: top;
        width: 120%;
        content: element(header) element(page-header);
        height: 150px;
    }

    @bottom-center {
        vertical-align: bottom;
        content: element(footer);
        padding-bottom: 10px;
    }
    margin-top: 120px;
    margin-bottom: 2cm;
    margin-right: 0px;
    margin-left: 0px;
    font-family: Arial;


}
div.footer {
    font-size: 11px;
    border-top: solid 1px;
    display: block;
    position: running(footer);
    margin-left: 0px;
}

div.page-header {
    font-size: 11px;
    display: block;
    position: running(header);
    margin-left: 0px;
}
div.header {
    display: block;
    position: running(header);
    margin-left: 0px;
    margin-top: 0px;
}

#pagenumber:before {
    content: counter(page);
}

#pagecount:before {
    content: counter(pages);
}

html * {
    font-family: Arial;
	margin-top: 0px;
}

/* Top link */
body > a {
    font-style: italic;
    font-size: 14px;
    color: black;
    margin-left: 30px;
    font-weight: bold;
    text-decoration: none;
}

/* Family */
div > h2 {
    font-size: 30px;
    margin-bottom: 5px;
}

/* Common name */
div > h3 {
    font-size: 25px;
    font-weight: normal;
}

/* Scientific name */
div > h4 {
    font-size: 11px;
    font-weight: normal;
    font-style: italic;
    margin-bottom: 10px;
}

/* Attribution title */
body > h1 {
    font-size: 40px;
    margin-bottom: 10px;
    margin-left: 30px;
}

/* Attribution title for header */
body > h6 {
    font-size: 34px;
    font-weight: bold;
    color: darkorange;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 60px;
    page-break-before: always;
}

/* Attribution details */
div > h5 {
    font-size: 11px;
    font-weight: normal;
    margin-top: 4px;
}

/* Attribution links */
h5 > a {
    color: black;
    text-decoration: underline;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    margin-left: 0px;
}


body > div {
}
