@page {
    size: 310mm 397mm;
    color: white;

    @top-center {
        margin-top: 0px;
        vertical-align: top;
        width: 120%;
        content: element(header) element(page-header);
        height: 150px;
        font-family: Roboto,Dialog;
    }

    @bottom-center {
        vertical-align: bottom;
        content: element(footer);
        padding-bottom: 10px;
        font-family: Roboto,Dialog;
    }
    margin-top: 120px;
    margin-bottom: 2cm;
    margin-right: 0px;
    margin-left: 0px;
    font-family: Roboto,Dialog;


}
div.footer {
    font-size: 11px;
    border-top: solid 1px;
    display: block;
    position: running(footer);
    margin-left: 0px;
    font-family: Roboto,Dialog;
}

div.page-header {
    font-size: 11px;
    display: block;
    position: running(header);
    margin-left: 0px;
}
div.header {
    display: block;
    position: running(header);
    margin-left: 0px;
    margin-top: 0px;
}

#pagenumber:before {
    content: counter(page);
}

#pagecount:before {
    content: counter(pages);
}

html * {
    font-family: Roboto,Dialog;
	margin-top: 0px;
}

/* Top link */
body > a {
    font-style: italic;
    font-size: 14px;
    color: black;
    margin-left: 30px;
    font-weight: bold;
    text-decoration: none;
}

/* Family */
div > h2 {
    font-size: 30px;
    margin-bottom: 5px;
    font-family: Roboto,Dialog;
}

/* Common name */
div > h3 {
    font-size: 25px;
    font-weight: normal;
    font-family: Roboto,Dialog;
}

/* Scientific name */
div > h4 {
    font-size: 11px;
    font-weight: normal;
    font-style: italic;
    margin-bottom: 10px;
    font-family: Roboto,Dialog;
}

/* Attribution title */
body > h1 {
    font-size: 40px;
    margin-bottom: 10px;
    margin-left: 30px;
    font-family: Roboto,Dialog;
}

/* Attribution title for header */
body > h6 {
    font-size: 34px;
    font-weight: bold;
    color: darkorange;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 60px;
    page-break-before: always;
    font-family: Roboto,Dialog;
}

/* Attribution details */
div > h5 {
    font-size: 11px;
    font-weight: normal;
    margin-top: 4px;
    font-family: Roboto,Dialog;
}

/* Attribution links */
h5 > a {
    color: black;
    text-decoration: underline;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    margin-left: 0px;
    font-family: Roboto,Dialog;
}


body > div {
}

.mainHeader{
    margin-top: 0px;
    margin-left: 0px;
}
.headerDiv{
    float:left;
    margin-left:150px;
    font-family: Roboto,Dialog;
}
.headerText{
    font-style: italic;
    font-weight: bold;
    font-family: Roboto,Dialog;
}
.headerLink{
    margin-top:10px;
    color:black;
    font-family: Roboto,Dialog;
}
.secondHeader{
    float:left;
    margin-bottom:30px;
}
.pagebreakDiv{
    page-break-after: always;
    margin-bottom: 20px;
    margin-top:180px;
}
.pagebreakH1{
    page-break-after: always;
    margin-top: 80px;
    font-weight: normal;
    font-family: Roboto,Dialog;
}
.hrPagebreak{
    margin-top: 140px;
}
.familyNormal{
    font-weight: normal;
}
.h2SpeciesPageBreak{
    margin-top:10px;
    margin-left:20px;
    font-weight: normal;
    font-family: Roboto,Dialog;
}
.h2ScientificNamePageBreak{
    margin-top:5px;
    margin-left:20px;
    font-weight: normal;
    font-family: Roboto,Dialog;
}
.h2Species{
    margin-left:20px;
    font-weight: normal;
    font-family: Roboto,Dialog;
}
.h2ScientificName{
    margin-left:20px;
    font-weight: normal;
    font-family: Roboto,Dialog;
}
.imgThumbnail{
    height:300px;
    margin-top: 25px;
    margin-bottom: 15px;
    margin-left: 50px;
    margin-right: 30px;
}
.densityMap{
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: 30px;
}
.densityLegend{
    margin-top: 25px;
    margin-bottom: 15px;

}
.attHeader{
    float:left;
    margin-bottom:30px;
}
.attDiv{
    margin-left:10px;
    margin-bottom: 150px;
    margin-top: 300px;
}
.h1Attr{
    margin-left:50px;
    page-break-before: always;
    margin-top: 40px;
    font-family: Roboto,Dialog;
}
.attrAttributeDiv{
    margin-top: 35px;
    margin-left: 50px;
    margin-bottom: 20px;
}
.attrAttributePageBreak{
    page-break-after: always;
    margin-bottom: 20px;
    margin-top:180px;
}
.taxonDiv{
    margin-top:60px;
    width:90%;
    margin-left:50px;
    margin-bottom:50px;
}
.footerDiv{
    margin-top: 15px;
    margin-left: 30px;
    font-family: Roboto,Dialog;
}
.alaSite{
    float:left;
    margin-left:20px;
    font-family: Roboto,Dialog;
}
.pageNum{
    float:right;
    margin-right:10px;
    font-family: Roboto,Dialog;
}
.bodyClass{
    margin-top: 150px;
    margin-left: 0px;
    font-family: Roboto,Dialog;
}
.headerImg{
    margin-bottom: 10px;
    margin-top: 0px;
}
.classBlack{
    color: black;
}